:root{
    --color-primary: #03658C;
    --color-secondary: #0D0D0D;
    --other-color: #F2F2F2;
}

html{
    font-family: sans-serif;
}

.header{
    text-align: center;
    margin: auto;
    background-color: var(--color-secondary);
}

.header_logo{
    width: 5em;
    height: auto;
}

#hamburguer{
    background-color: var(--color-primary);
    color: var(--other-color);
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}

.header_nav{
    background-color: var(--color-secondary);
    display: none;
}

.header_nav.show {
    display: block;
}


ul{
    margin: 0;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a{
    color: var(--other-color);
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, var(--color-primary), var(--other-color) 50%);
    color: var(--color-secondary);
}

@media screen and (min-width: 48em){/*768px maior que*/

    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-secondary);
    }


    .header_logo{
        margin-left: 2em;
    }


    .header_nav{
        display: block;
    }


    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }


    .header_nav li{
        display: inline-block;
    }


    .header_nav a{
        border-radius: 5px;
    }


    .header_nav a:hover{
        background-color: var(--color-primary);
        color: var(--other-color);
    }
}

.fundo_main{
    background-image: url(../images/cachorro-agua.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.galeria a{
    text-decoration: none;
    color: var(--color-secondary);
    display: inline-block;
    background-color: var(--color-primary);
    padding: 1em 1.8em;
    font-size: 1.5em;
    border-radius: 8px;
    letter-spacing: .1em;
    font-family: 'Courgette', cursive;
}

div.galeria a:hover{
    background-color: var(--color-primary);
    color: var(--other-color);
}

footer{
    background-color: var(--color-secondary);
    padding: 1em;
    text-align: center;
}

.logos_footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tamanho{
    width: 2.5em;
}

.texto_footer{
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin:0;
    padding-top: .8rem;
    color: var(--color-primary);
}

@media screen and (min-width: 48em){/*768px maior que */

    .logos_footer{
        flex-direction: row;
        justify-content: center;
        gap:1.5em;
    }

}