body{
    background-color: #5fb07a;
    align-items: center;
    font-size: 1.5em;
}

h1,
h2,
h3,
h4{
    text-align: center;
}

h1{
    color: #a52a2a;
}

h2{
    color: #ffa500;
}

h3{
    color: #EBD200;
}

h4{
    color: #ffff00;
}

header{
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
