body{
    background-color: #c3b7d0;
    align-items: center;
}

h1,
h2,
h3{
    text-align: center;
    color: #41007a;
}

header{
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
