/* Paleta de cores 
#116EBF
#F2F2F2
#1F82BF
*/
:root {
    --cor-azul-escuro: #183873;
    --cor-branco: #F2F2F2;
    --cor-preto: #060503;
    --cor-azul-claro: #41BDD9;
}

html {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    font-family: 'Montserrat', 'Jost', sans-serif;
    font-weight: 300;
}

header {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--cor-branco);
    border-bottom: 1px solid #ccc;
    /* height: 100vh; */
    /* width: 100vw; */
}

.header_nav.show {
    display: block;
}

.header_logo {
    width: 8rem;
    height: auto;
    margin: 0;
}

#hamburguer {
    background-color: var(--cor-azul-claro);
    color: var(--cor-preto);
    display: block;
    text-align: center;
    padding: .3rem;
    cursor: pointer;
    font-size: 1.8em;
}



ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: .6em;
}

.header_nav a {
    color: var(--cor-azul-claro);
    text-decoration: none;
    display: block;
    padding: .6em;
}

.header_nav a:hover {
    background-color: color-mix(in srgb, var(--cor-azul-claro), var(--cor-branco) 50%);
    color: var(--cor-preto);
}

.container2 {
    text-align: center;

}

h2 {
    font-size: 3em;
    color: var(--cor-azul-claro);
    /* text-indent: 8em; */
}

h2 span {
    font-size: larger;
    text-align: right;
    /* font-weight: 400; */
    /* font-size: larger; */
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/17973908.jpg");
}

.conteudo-img {
    width: 4em;
}

.line {
    height: 2px;
    width: 50px;
    background: var(--cor-azul-escuro);
    display: block;
    margin: 20px auto 20px;
}

.line::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 150px;
    height: 2px;
    border-bottom: 2px dashed var(--cor-azul-escuro);
    margin-left: -75px;
}

footer {
    background-color: var(--cor-preto);
    padding: 10em;
    text-align: center;
    color: var(--cor-azul-claro);
}

.logos_footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tamanho {
    width: 2.5em;
}

.texto_footer {
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0;
    padding-top: .8rem;
    color: var(--cor-azul-claro);
}

@media screen and (min-width:48em) {
    #hamburguer {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .header_logo {
        width: 10em;
        height: auto;
    }

    .header_nav {
        display: block;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a {
        border-radius: 5px;
    }

    .header_nav a:hover {
        background-color: var(--cor-azul-claro);
        color: var(--cor-branco);
    }

    section {
        width: 100%;
        min-height: 100vh;
    }

    

    .titulo {
        margin-top: 1em;
        display: block;
        flex-direction: row;
    }

    .projetos {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .paragrafo {
        display: inline-block;
        line-height: 1.8em;
        letter-spacing: .2;
        justify-content: space-between;
        
    }

    section {
        justify-content: center;
    }

    .ponto {
        color: pink;
    }

    .imagem-codigo {
        border: 1px #cccccc solid;
        padding: 4px;
        margin: auto;
    }

    .imagem-codigo img {
        width: 22em;
    }

    .imagem-codigo-caminho {
        background-color: var(--cor-azul-escuro);
        font-style: italic;
        padding: 2px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .imagem-codigo-caminho a {
        color: var(--cor-branco);
        text-decoration: none;
    }

    .logos_footer {
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }
}*/