/* Paleta de cores 
#116EBF
#F2F2F2
#1F82BF
*/
:root {
    --cor-azul-escuro: #183873;
    --cor-branco: #F2F2F2;
    --cor-preto: #060503;
    --cor-azul-claro: #41BDD9;
}

html {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    font-family: 'Poppins', 'Jost', sans-serif;
}

header {
    text-align: center;
    margin: auto;
    background-color: var(--cor-preto);
}

.header_logo,
section img {
    width: 8rem;
    height: auto;
    margin: 0;
}

#hamburguer {
    background-color: var(--cor-azul-claro);
    color: var(--cor-preto);
    display: block;
    text-align: center;
    padding: .3rem;
    cursor: pointer;
    font-size: 1.8em;
}

.header_nav {
    display: none;
}

.header_nav.show {
    display: block;
}

ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: .6em;
}

.header_nav a {
    color: var(--cor-azul-claro);
    text-decoration: none;
    display: block;
    padding: .6em;
}

.header_nav a:hover {
    background-color: color-mix(in srgb, var(--cor-azul-claro), var(--cor-branco) 50%);
    color: var(--cor-preto);
}


@media screen and (min-width:48em) {
    #hamburguer {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_logo {
        margin-left: 2em;
        width: 10em;
        height: auto;
    }

    .header_nav {
        display: block;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a {
        border-radius: 5px;
    }

    .header_nav a:hover {
        background-color: var(--cor-azul-claro);
        color: var(--cor-branco);
    }

    .container {
        text-align: center;
    }

    .titulo {
        margin: 1em;
    }

    .conteudo {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .paragrafo {
        display: inline-block;
        line-height: 1.8em;
        letter-spacing: .2;
        justify-content: space-between;
        /* padding: 3em; */
    }

    section {
        justify-content: center;
    }

    strong{
        color: var(--cor-azul-claro);
        font-size: 2em;
    }

    figure {
        border: 1px #cccccc solid;
        padding: 4px;
        margin: auto;
      }
      .imagem-codigo img{
        width: 22em;
      }
      
      .imagem-codigo-caminho {
        background-color: var(--cor-azul-escuro);
        font-style: italic;
        padding: 2px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;        
    }
    
    .imagem-codigo-caminho a{
        color: var(--cor-branco);
        text-decoration: none;
      }
}