:root {
    --cor-azul-claro: #41BDD9;
    --cor-branco: #F2F2F2;
    --cor-preto: #060503;
    --cor-azul-escuro: #183873;
}

html {
    font-family: 'Montserrat', 'Jost', sans-serif;
}

.header {
    text-align: left;
    margin: auto;
    background-color: var(--cor-preto);

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header_logo {
    width: 5em;
    height: auto;
}

#hamburguer {
    background-color: var(--cor-azul-claro);
    color: var(--cor-preto);
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}

.header_nav {
    background-color: var(--cor-preto);
    display: none;
}

.header_nav.show {
    display: block;
}


ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a {
    color: var(--cor-branco);
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover {
    background-color: color-mix(in srgb, var(--cor-azul-claro), var(--cor-branco) 50%);
    color: var(--cor-preto);
}

section {
    width: 100%;
    min-height: 100vh;
    border: solid transparent;
    
}

.container {
    text-align: center;
    justify-content: center;
    margin-top: 8em;
}

/* Banner */
.banner {
    width: 100%;
    background: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Meu nome */
h2 {
    font-size: 3em;
    color: var(--cor-azul-claro);
    /* text-indent: 8em; */
}

/* ponto cor de rosa */
.ponto {
    color: pink;
}

/* Imagens dos títulos */
.conteudo-img {
    width: 4em;
    margin: 1em;
}

/* linha pontilhada abaixo dos titulos */
.line {
    height: 2px;
    width: 50px;
    background: var(--cor-azul-escuro);
    display: block;
    margin: 20px auto 20px;
}

.line::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 150px;
    height: 2px;
    border-bottom: 2px dashed var(--cor-azul-escuro);
    margin-left: -75px;
}

@media screen and (min-width: 48em) {
    /*768px maior que*/

    #hamburguer {
        display: none;
    }



    .header {
        /* text-align: center; */
        /* margin: auto; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-preto);
    
        /* fixar menu no topo */
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
    }
    


    .header_logo {
        margin-left: 2em;
    }


    .header_nav {
        display: block;
    }


    .header_nav ul {
        margin-right: 2em;
        font-size: .9em;
    }


    .header_nav li {
        display: inline-block;
    }


    .header_nav a {
        border-radius: 5px;
    }


    .header_nav a:hover {
        background-color: var(--cor-azul-claro);
        color: var(--cor-branco);
    }



    .logos_footer {
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }
}


.tamanho{
    width: 2.5em;
}

footer{
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    padding: 3em 1em 12em 1em;
    text-align: center;
}

.logos_footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.texto_footer{
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin:0;
    padding-top: .8rem;
    color: var(--color-primary);
}
