body{
    background-color: #e8eaff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #000;
}

.cards_container {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.card {
    background-color: #494e80;
    color: #fff;
    box-sizing: border-box;
    height: 250px;
    width: fit-content;
}

.card p {
    text-align: center;
    color: #fff;
}

.tamanho{
    display: block;
    height: 80%;
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
    .cards_container{
        flex-direction: column;
        align-items: center;
    }
}

.footer{
    background-color: #300559;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
}